/* 
background: linear-gradient(to bottom (#15294A, #0E101D, #15294A))
background black: #0E101D
background blue: #15294A
highlight blue: #2EFFFA
faded blue: #26719B
faded gray: 
 */
 * {
    margin:0;
    padding:0;
}

 html{
    height: 100vh;
 }

 body {
    min-height: 100%;
    background-image: linear-gradient(to bottom, #15294a, #152441, #142039, #131b30, #111728, #111728, #111728, #111728, #131b30, #142039, #152441, #15294a);
    color: #addce2;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.9px;
 }

 header {
    box-shadow: 0px 12px 9px rgb(38 113 155 / 50%);
    top: 0;
 }

 h1, h2, h3 {
    color: #2bd0da;
 }

 h1 {
    font-size: 28px;
 }

 h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5px;
    width: 134px;
 }

 li {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
   height: 140px;
   width: 140px;
   border: 1px solid #addce2;
   padding: 2px;
   margin: 22px 2px;
 }

 footer {
   bottom: 0;
   box-shadow: 0 -12px 9px rgb(38 113 155 / 50%);
   margin-top: 20px;
 }

 .banner {
   display: flex;
   height: 4rem;
   background-color: #0E101D;
   width: 100%;
   align-items: center;
   justify-content: center;
   position: sticky;
 }

 .loading-message {
   height: 90vh;
 }


 .compendium {
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   max-width: 80%;
 }

 .compendium-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 15px;
 }

 .compendium-button {
   display: inline-block;
   background: none;
   width: 135px;
   height: 135px;
   text-align: center;
   padding: 3px;
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   border: none;
 }

 .compendium-button img {
   height: 118px;
   width: 118px;
 }

 .compendium-button p {
   font-size: 0.8rem;
   text-align: left;
 }

 li:hover, li:focus {
    cursor: pointer;
    border: 1px solid #26719B;
    -moz-box-shadow: -1px 1px 6px 4px #26719B;
    -webkit-box-shadow: -1px 1px 6px 4px #26719B;
    box-shadow: -1px 1px 6px 4px #26719B;
 }

 li:hover .compendium-button, li:focus .compendium-button {
   cursor: pointer;

 }

 #modal-container {
  display: none;
 }

 #modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
 }

 .modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #0E101D;
  border: 1px solid #addce2;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  font-family: inherit;
  line-height: 1.4;
 }

 .modal-close {
  float: right;
  font-size: 1.5rem;
  color: #6bcad6;
  font-weight: 700;
  background: none;
  padding: 2px;
  border: none;
  text-shadow: 0 0 9px #26719B;
 }

 .modal-close:hover, .modal-close:focus {
  cursor: pointer;
  text-shadow: none;
  color: #26719B;
}


 @media all and (max-width: 550px) {
   .compendium {
      min-width: 100%;
   }
   .modal {
    max-width: 300px;
   }
   .modal-image {
    height: 200px;
    width: 200px;
   }
}